# Virtual environments
venv/
.venv/
env/
ct_env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Large data & models
Dataset/
Model/
*.h5
*.pt
*.pth
*.ckpt
*.zip
*.tar
*.gz

# Python cache
__pycache__/
*.pyc
